.align-horizontal-divs {
    width: 100%;
    margin: 0 auto;
}
.align-vertical-divs {
    margin: 0 auto;
    vertical-align: top;
}
.block {
    display: inline-block;
}

.svgparent {
    border: 1px solid grey;
}

*{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#bc1Div {
	overflow-x: auto;
    overflow-y: hidden;
}
