.treenode {
            cursor: pointer;
        }

.treenode circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.treenode text {
    font: 8px sans-serif;
}

.biglink text {
    font: 19px sans-serif;
    font-weight: bold;
}

.found {
	fill: #ff4136;
	stroke: #ff4136;
}